extends ../layouts/main-layout.pug 

block content
    main.centered
        h2 #{product.title}
        hr
        .image
            img(src=`${product.imageUrl}` )
        h2 #{product.price}
        p #{product.description}
        include ../partials/add-to-cart.pug
        .card__actions
            a.btn(href=`/admin/edit-product/${product.prodId}?edit=true`) Edit
            form(action="/admin/delete-product" method="POST")
                input(type="hidden" value=`${product.prodId}` name="productId")
                button.btn(type="submit") Delete
    
